<div class="indexTitle">

    <div class="goBack">
        <a [routerLink]="['/']">
          <h4>
            HOME
          </h4>
          </a>
      </div>
      <h1 class="indexTitle">Vehicles</h1>
<ul>
  <li *ngFor="let vehicle of vehicles;">
    <a [routerLink]="['/vehicles', vehicle.id]">
      <div class="list">
          {{vehicle.name}}
          
        </div>
    </a> 
  </li>
</ul>


<button class="btn btn-primary" (click)="getVehicles()" *ngIf="vehicles">Load page</button>
</div>